<div class="row" *ngIf="!this.loaderService.status.value">
  <div>
    <app-live-schedule [now]="this.setDay"></app-live-schedule>
  </div>
  <div class="sc_head">
    <h1>여름수양회 시간표</h1>
  </div>
  <div style="text-align: center;">
    <div class="col-md-4 col-lg-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th colspan="2">{{this.schedule.targetDay | date : 'yyyy-MM-dd'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sch of this.schedule.plans">
            <td>{{sch.time}}</td>
            <td>{{sch.plan}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="cssload-wrap" *ngIf="this.loaderService.status.value">
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>Loading...</div>
</div>