<div class="home">
  <div class="row manripo">
    <div class="rt_block">
      <div class="h1 text-center">
        2018 캠퍼스 <span class="title">여름수양회 안내</span>
      </div>
      <div class="rt_box">
        <ul class="rt_info">
          <li>
            <div class="info_li">
              <label>주제</label>
              <br>그리스도인이 가져야할 좋은 습관 (살전 5:16~18)</div>
          </li>
          <li>
            <div class="info_li">
              <label>목표</label>
              <br>그리스도인이 가져야 할 좋은 습관(기쁨, 기도, 감사)을 바르게 이해하고 실천하는 시간을 가진다</div>
          </li>
          <li>
            <div class="info_li">
              <label>기간</label>
              <br>2018. 08. 03 ~ 08. 05</div>
          </li>
          <li>
            <div class="info_li">
              <label>장소</label>
              <br>태안 테티스팬션
              <br>충청남도 태안군 소원면 모항리 829-2)</div>
          </li>
          <li>
            <div class="info_li">
              <label>회비</label>
              <br>100,000원 (초대자 70,000원, 초등생 40,000원)
              <br>(버스 탑승자는 버스비 10,000원 별도)</div>
          </li>
          <li>
            <div class="info_li">
              <label>준비물</label>
              <br>성경, 경건의 일기, 소책자(경건의 시간을 갖는 법), 수영복, 운동복, 아쿠아슈즈(또는 슬리퍼), 선캡, 칫솔, 치약, 비누, 수건, 우산, 홈패트, 돗자리(팀별), 스킨 소품
            </div>
          </li>
          <li>
            <div class="info_li">
              <label>버스 출발시간</label>
              <br> DH 앞에서 7시30분</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- 
  <div class="row" style="width: 100%;">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChooseLocation($event)">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
   -->
</div>