<div class="row col-mg-10 col-lg-10">
  <!-- 
  <div class="navi-menu">
    
  </div>
   -->
  <div class="schedule-state-container">
    <div class="schedule-registered box">
      <div class="state-title">등록한 일정</div>
      <div class="state-count">X개</div>
    </div>
    <div class="schedule-state-sub ">
      <div class="schedule-state-sub-child box">
        <div class="state-title">남은 일정 수</div>
        <div class="state-count">X개</div>
      </div>
      <div class="schedule-state-sub-child box">
        <div class="state-title">만료된 일정 수</div>
        <div class="state-count">X개</div>
      </div>
    </div>
  </div>
  <div class="schedule-state-container">
    <div class="user-out"><button class="btn-danger">회원탈퇴</button></div>
    <div class="user-confirm box">
      <div class="confirm-out">
        <p>정말로 탈퇴하시겠습니까?</p>
        <p>탈퇴 후 모든 정보가 삭제되며, 복구가 불가능합니다.</p>
      </div>
      <button class="btn-default">취소</button>
      <button class="btn-primary">탈퇴</button>
    </div>
    <div class="confirm-password box">
      <input type="password" placeholder="암호를 입력해주세요."/>
      <button class="btn-primary">확인</button>
    </div>
  </div>
</div>