<div class="row">
  <div class="type-selector col-md-10 col-lg-10">
    <div class="selector-item">
      <input type="radio" name="type-selector" id="privacy" value="privacy" />
      <label for="privacy">개인</label>
    </div>
    <div class="selector-item">
      <input type="radio" name="type-selector" id="public" value="public"/>
      <label for="public">범용</label>
    </div>
  </div>
  <div class="register-form-container col-md-10 col-lg-10">
    <div class="register-form" *ngIf="this.selectorChecked">
      테스트1
    </div>
    <div class="register-form" *ngIf="!this.selectorChecked">
      테스트2
    </div>
  </div>
</div>