<div class="row main">
    <div class="main-login main-center">
      <h5>로그인</h5>
      <form class="" method="post" action="#" [formGroup]="formModel" novalidate (ngSubmit)="formModel.valid && onLogin()">
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">로그인에 사용할 이름</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" formControlName="name" placeholder="Enter your Name" required/>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">비밀번호</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" formControlName="pw" placeholder="Enter your Password" required/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button class="btn btn-primary btn-lg btn-block login-button" id="button" type="submit">로그인</button>
        </div>
  
      </form>
    </div>
  </div>